<footer class="footer_section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3 footer_col">
        <div class="footer_contact">
          <h4>Reach at..</h4>
          <div class="contact_link_box">
            <a href="">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span>Call +91 1234567890</span>
            </a>
            <a href="">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <span>Mediscan@gmail.com</span>
            </a>
          </div>
        </div>
        {% comment %} <div class="footer_social">
          <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </div> {% endcomment %}
      </div>
      <div class="col-md-6 col-lg-3 footer_col">
        <div class="footer_detail">
          <h4>About</h4>
          <p>Welcome to Medi Scan, your comprehensive healthcare solution powered by advanced technology. With Medi Scan, you can take control of your health like never before. Our platform empowers users to upload their medical scans, such as MRI and CT scans, and receive accurate disease predictions and relevant remedies, all at no extra cost.</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-2 mx-auto footer_col">
        <div class="footer_link_box">
          <h4>Links</h4>
          <div class="footer_links">
            <a class="" href="{% url 'home' %}">Home</a>

            <a class="" href="{% url 'new_department' %}">Departments</a>

            <a class="" href="{% url 'new_contact' %}">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-info">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved By
        <a href="{% url 'home' %}">Medi Scan<br /><br /></a>
      </p>
    </div>
  </div>
</footer>
