

<section class="about_section layout_padding">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="./static/images/about-img.jpg" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About <span>Us</span>
              </h2>
            </div>
            <p>
              Welcome to Medi Scan, your comprehensive healthcare solution powered by advanced technology. With
              Medi Scan, you can take control of your health like never before. Our platform empowers users to upload
              their medical scans, such as MRI and CT scans, and receive accurate disease predictions and relevant
              remedies, all at no extra cost.
            </p>
            <a href="">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

